<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Perfil Usuario'}) %>
<body>
	<!-- Header -->
	<%- include('../partials/headerNavbar') %>
	<!-- /Header -->

	<!-- user profile -->
    <% if (typeof locals.user != 'undefined') { %>
    <p>Bienvenido <%= locals.user.email %> </p>
    <% } %>
    <!-- /user profile -->

	<!-- footer -->
	<%- include('../partials/footer') %>
	<!-- /footer -->

</body>	
</html>